<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Kreative Challenge | Error</title>
    <link rel="stylesheet" th:href="@{~/css/main.css}"/>
</head>
<body>
<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 text-center 404-page">
        <h1>Oops!</h1>
        <h2>Something went wrong</h2>
        <p>The page you requested cannot be found</p>
        <p><a th:href="@{~/}">Return to the homepage</a></p>
    </div>
</div>
</body>
</html>