<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Kreative Challenge | Homepage</title>
    <link rel="stylesheet" th:href="@{~/css/main.css}"/>
</head>
<body>

<h1><span class="blue">&lt;</span>Kreative<span class="blue">&gt;</span> <span class="yellow">Challenge</span></h1>
<h2>Developed by <span class="blue">peytonsw</span> and <span class="blue">jAlexandr</span></h2>

<section>
    <button type="button" onclick="location.href='/challenges';">TOP challenges</button>
</section>
<section>
    <button type="button" onclick="location.href='/users';">TOP participants</button>
</section>

<h2><img width="260" height="110" th:src="@{~/images/GooglePlay.png}"/></h2>

</body>
</html>
